xml/circuito.dtd

<!ELEMENT circuito (
  nombre, 
  dimensiones, 
  fecha_carrera, 
  hora_inicio, 
  numero_vueltas, 
  ubicacion, 
  patrocinador, 
  referencias, 
  fotos, 
  videos, 
  inicio_circuito, 
  tramos, 
  vencedor?, 
  clasificacion?
)>

<!ELEMENT nombre (#PCDATA)>

<!ELEMENT dimensiones EMPTY)>
<!ATTLIST dimensiones
    longitud_circuito CDATA #REQUIRED
    anchura_media CDATA #REQUIRED>

<!ELEMENT fecha_carrera (#PCDATA)>
<!ELEMENT hora_inicio (#PCDATA)>
<!ELEMENT numero_vueltas (#PCDATA)>

<!ELEMENT ubicacion (localidad, pais)>
<!ELEMENT localidad (#PCDATA)>
<!ELEMENT pais (#PCDATA)>

<!ELEMENT patrocinador (#PCDATA)>

<!ELEMENT referencias (referencia+)>
<!ELEMENT referencia (#PCDATA)>

<!ELEMENT fotos (foto+)>
<!ELEMENT foto #PCDATA>

<!ELEMENT videos (video+)>
<!ELEMENT video #PCDATA>

<!ELEMENT latitud (#PCDATA)>
<!ELEMENT longitud (#PCDATA)>
<!ELEMENT altitud (#PCDATA)>

<!ELEMENT inicio_circuito (latitud, longitud, altitud)>

<!ELEMENT tramos (tramo+)> 
<!ELEMENT tramo (coordenadas_final)>
<!ELEMENT coordenadas_final (latitud, longitud, altitud)>
<!ATTLIST tramo 
    sector CDATA #REQUIRED
    distancia CDATA #REQUIRED>

<!ELEMENT vencedor EMPTY>
<!ATTLIST vencedor 
    nombre CDATA #REQUIRED 
    tiempo CDATA #REQUIRED>

<!ELEMENT clasificacion (piloto+)>
<!ELEMENT piloto #PCDATA>
